html, body, #banner{
    margin:0;
    min-height:97%;
    height: 97%;
    width: 100%;
}

.footer{
    background-color: black;
    color: white;
}

.center-elements{
    margin: auto;
    width: 50%;
}

.search-bar{
    width: 50%;
    border-radius:50px;
    padding: 5px;
    margin: 5px;
}

.find-flight-btn{
    text-align:center;
    border-radius:50px;
    width: 50%;
}